{{ partial "header.html" . }}

{{ partial "preloader.html" . }}

{{ partial "navigation.html" . }}

{{ partial "hero.html" . }}

{{ partial "about-sm.html" . }}

{{ partial "feature.html" . }}

{{ partial "about.html" . }}

{{ partial "workingprocess.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "team.html" . }}

{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}

<!--
{{ partial "blog.html" . }}
-->

{{ partial "contact.html" . }}

<div class="container">
<div class="row">
    <div class="col-md-6 col-12 offset-md-3 text-center" style="margin-top: 40px; margin-bottom: 40px;">
    <h2>Migration Agent MARA Authority</h2>
    <p style="font-size: 16px;">Finer Immigration (MARA: 1806835) are bound by our professional legal obligations and the MARA code of conduct.
                To learn more about migration agents and the MARA code of conduct please click <a href="https://www.mara.gov.au/search-the-register-of-migration-agents/registered-migration-agent-details/?id=a7e438db-c275-e811-9418-000d3ad152db" target="_blank">here</a>.</p>
    </div>
</div>
</div>

{{ partial "footer.html" . }}
